{
  "$schema": "https://mintlify.com/schema.json",
  "name": "AG2",
  "logo": {
    "dark": "/logo/ag2-white.svg",
    "light": "/logo/ag2.svg"
  },
  "metadata": {
    "og:image": "https://media.githubusercontent.com/media/ag2ai/ag2/refs/heads/main/website/static/img/cover.png"
  },
  "favicon": "/logo/ag2.svg",
  "analytics": {
    "ga4": {
        "measurementId": "G-2GN2KN2CE4"
    }
  },
  "search": {
    "prompt": "Search or ask..."
  },
  "colors": {
    "primary": "#4b9cd6",
    "light": "#63a9db",
    "dark": "#338fd1",
    "anchors": {
      "from": "#338fd1",
      "to": "#63a9db"
    }
  },
  "topbarCtaButton": {
    "type": "github",
    "url": "https://github.com/ag2ai/ag2"
  },
  "font": {
    "headings": {
      "family": "Jersey 10"
    },
    "body": {
      "family": "Inter"
    }
  },
  "tabs": [
    {
      "name": "Home",
      "url": "docs/home"
    },
    {
      "name": "User Guide",
      "url": "docs/user-guide"
    },
    {
      "name": "API References",
      "url": "docs/api-reference"
    },
    {
      "name": "Use Cases",
      "url": "docs/use-cases"
    },
    {
      "name": "Contribute",
      "url": "docs/contributor-guide"
    },
    {
      "name": "FAQs",
      "url": "docs/faq"
    },
    {
      "name": "Ecosystem",
      "url": "docs/ecosystem"
    },
    {
      "name": "Blog",
      "url": "docs/blog"
    },
    {
      "name": "Community Talks",
      "url": "docs/talks"
    }
  ],
  "anchors": [],
  "navigation": [
    {
      "group": "Home",
      "pages": [
        "docs/home/home",
        "docs/home/quick-start"
      ]
    },
    {
      "group": "User Guide",
      "pages": [
        {
          "group": "Basic Concepts",
          "pages": [
            "docs/user-guide/basic-concepts/installing-ag2",
            "docs/user-guide/basic-concepts/llm-configuration",
            "docs/user-guide/basic-concepts/conversable-agent",
            "docs/user-guide/basic-concepts/human-in-the-loop",
            "docs/user-guide/basic-concepts/orchestrations",
            "docs/user-guide/basic-concepts/groupchat",
            "docs/user-guide/basic-concepts/swarm",
            "docs/user-guide/basic-concepts/tools",
            "docs/user-guide/basic-concepts/structured-outputs",
            "docs/user-guide/basic-concepts/ending-a-chat"
          ]
        },
        {
          "group": "Advanced Concepts",
          "pages": [
            "docs/user-guide/advanced-concepts/rag",
            "docs/user-guide/advanced-concepts/custom-group-chat",
            "docs/user-guide/advanced-concepts/resuming-group-chat",
            "docs/user-guide/advanced-concepts/swarm-deep-dive",
            "docs/user-guide/advanced-concepts/enhanced-swarm",
            "docs/user-guide/advanced-concepts/code-execution",
            "docs/user-guide/advanced-concepts/tools-with-secrets",
            "docs/user-guide/advanced-concepts/conversation-patterns-deep-dive",
            "docs/user-guide/advanced-concepts/llm-configuration-deep-dive"
          ]
        },
        {
          "group": "Model Providers",
          "pages": [
            "docs/user-guide/models/openai",
            "docs/user-guide/models/amazon-bedrock",
            "docs/user-guide/models/anthropic",
            "docs/user-guide/models/cerebras",
            "docs/user-guide/models/cohere",
            "docs/user-guide/models/deepseek-v3",
            "docs/user-guide/models/google-gemini",
            "docs/user-guide/models/google-vertexai",
            "docs/user-guide/models/groq",
            "docs/user-guide/models/litellm-with-watsonx",
            "docs/user-guide/models/lm-studio",
            "docs/user-guide/models/mistralai",
            "docs/user-guide/models/ollama",
            "docs/user-guide/models/togetherai",
            "docs/user-guide/models/vLLM"
          ]
        }
      ]
    },
    {
      "group": "Use Cases",
      "pages": [
        {
          "group": "Use cases",
          "pages": [
            "docs/use-cases/use-cases/customer-service",
            "docs/use-cases/use-cases/game-design",
            "docs/use-cases/use-cases/travel-planning"
          ]
        },
        {
          "group": "Reference Agents",
          "pages": [
            "docs/use-cases/reference-agents/index",
            "docs/use-cases/reference-agents/captainagent",
            "docs/use-cases/reference-agents/reasoningagent",
            "docs/use-cases/reference-agents/websurferagent"
          ]
        },
        {
          "group": "Notebooks",
          "pages": ["docs/use-cases/notebooks/notebooks"]
        },
        "docs/use-cases/community-gallery/community-gallery"
      ]
    },
    {
      "group": "Contributor Guide",
      "pages": [
        "docs/contributor-guide/contributing",
        "docs/contributor-guide/setup-development-environment",
        "docs/contributor-guide/documentation",
        "docs/contributor-guide/file-bug-report",
        "docs/contributor-guide/maintainer",
        "docs/contributor-guide/pre-commit",
        "docs/contributor-guide/tests",
        "docs/contributor-guide/Research"
      ]
    },
    {
      "group": "FAQs",
      "pages": ["docs/faq/FAQ"]
    },
    {
      "group": "Ecosystem",
      "pages": [
        "docs/ecosystem/agentops",
        "docs/ecosystem/azure_cosmos_db",
        "docs/ecosystem/composio",
        "docs/ecosystem/databricks",
        "docs/ecosystem/llamaindex",
        "docs/ecosystem/mem0",
        "docs/ecosystem/memgpt",
        "docs/ecosystem/microsoft-fabric",
        "docs/ecosystem/ollama",
        "docs/ecosystem/pgvector",
        "docs/ecosystem/portkey",
        "docs/ecosystem/promptflow"
      ]
    }
  ],
  "footerSocials": {
    "x": "https://x.com/ag2oss",
    "github": "https://github.com/ag2ai/ag2",
    "linkedin": "https://www.linkedin.com/company/ag2ai",
    "discord": "https://discord.gg/pAbnFJrkgZ",
    "youtube": "https://www.youtube.com/@ag2ai"
  }
}
